version: "3.8"

services:
  # ---------------------------------------------------------------------------
  # IDENTITY
  # ---------------------------------------------------------------------------
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_URL: http://localhost:8080
      KC_PROXY: edge
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data/
    networks:
      - rice-net

  # ---------------------------------------------------------------------------
  # OBSERVABILITY (JAEGER)
  # ---------------------------------------------------------------------------
  jaeger:
    image: jaegertracing/all-in-one:1.50
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686" # UI
      - "4317:4317"   # OTLP gRPC
    networks:
      - rice-net

  # ---------------------------------------------------------------------------
  # RELIABILITY (LOCUST)
  # ---------------------------------------------------------------------------
  locust:
    image: locustio/locust
    ports:
      - "8089:8089"
    volumes:
      - ../backend/tests/load:/mnt/locust
    command: -f /mnt/locust/locustfile.py
    environment:
      - LOCUST_HOST=http://backend-api:8000
    networks:
      - rice-net

networks:
  rice-net:
    driver: bridge

volumes:
  keycloak_data:
